node_modules
dist
*.vsix
*.zip
.vscode-test/
.DS_Store 
.sfdx/
.vs/
temp/
.bak/
.visbal/
.visbal/cache/logs.json
temp1/extension.ts
temp1/findModal.ts
temp1/logSummary.ts
temp1/searchLibrary.ts
temp1/apex/BATCH_MANY_FILTER.apex
temp1/apex/DELETE_ALL_RECORDS.apex
temp1/apex/DELETE_MASTER_ACCOUNTS.apex
temp1/apex/SETUP_DISPLAY_TEST_FIELDS.apex
temp1/components/DebugBox.ts
temp1/media/debugPresetUtils.js
temp1/media/orgList.js
temp1/media/styles.css
temp1/models/logInterfaces.ts
temp1/models/testCaseList.ts
temp1/services/cacheService.ts
temp1/services/gitService.ts
temp1/services/loggingService.ts
temp1/services/metadataService.ts
temp1/services/orgListCacheService.ts
temp1/services/salesforceApiService.ts
temp1/services/sfdxService.ts
temp1/services/statusBarService.ts
temp1/services/storageService.ts
temp1/types/salesforceLog.ts
temp1/types/salesforceTypes.ts
temp1/types/testClass.ts
temp1/utils/debugConfigUtils.ts
temp1/utils/execUtils.ts
temp1/utils/logParsingUtils.ts
temp1/utils/orgUtils.ts
temp1/utils/webviewUtils.ts
temp1/views/apexLogTab.ts
temp1/views/apexLogTabHTML.ts
temp1/views/debugConsoleView.ts
temp1/views/executeApexTab.ts
temp1/views/executeApexTabHTML.ts
temp1/views/gitHistoryView.ts
temp1/views/logDetailExecution.ts
temp1/views/logDetailHTML.ts
temp1/views/logDetailRawHandler.ts
temp1/views/logDetailView.ts
temp1/views/orgTab.ts
temp1/views/orgTabHtml.ts
temp1/views/orgTabUtils.ts
temp1/views/soqlTab.ts
temp1/views/soqlTabHTML.ts
temp1/views/styles.ts
temp1/views/testClassExplorerSidePanel.ts
temp1/views/testRunningTaskSidePanel.ts
temp1/views/testSummarySidePanel.ts
