.vscode/**
.vscode-test/**
src/**
out/test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.cursor/**
temp/**
node_modules/@types/**
node_modules/typescript/**
node_modules/eslint/**
node_modules/@typescript-eslint/**
node_modules/rimraf/**
node_modules/@vscode/**
node_modules/vsce/**
.github/**
.git/**
package-lock.json
yarn.lock
webpack.config.js
.eslintignore
.eslintrc.js
.prettierrc
.prettierignore
coverage/**
.nyc_output/**
**/*.vsix 